@font-face {
  font-family: Charter;
  src: url(charter_regular.woff);
}

@font-face {
  font-family: Charter;
  src: url(charter_italic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Charter;
  src: url(charter_bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Charter;
  src: url(charter_bold_italic.woff);
  font-weight: bold;
  font-style: italic;
}

:root {
  color-scheme: light dark;
  --color--text: black;
  --color--background: white;
  --color--text--link--unvisited: blue;
  --color--text--link--visited: purple;

  --color--text--header--hover: #999;
  --color--text--header--hover--pilcrow: #bbb;

  --color--border: #999;

  --image--squared-circle: url(squared_circle_dark.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--text: white;
    --color--background: black;
    --color--text--link--unvisited: hsl(221, 100%, 67%);
    --color--text--link--visited: hsl(300, 50%, 55%);
  
    --color--text--header--hover: #999;
    --color--text--header--hover--pilcrow: #bbb;
  
    --color--border: #999;

    --image--squared-circle: url(squared_circle_light.svg);
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 16rem auto 16rem;
  grid-template-areas: 
    "toc header ."
    "toc main ."
    "toc footer .";
}

main {
  grid-area: main;
}
#toc-container {
  grid-area: toc;
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}

#toc {
  position: fixed;
  width: 16rem;
  max-height: 100vh;
  margin: 0;
  padding: 1em 0 1em 2.5em;
  overscroll-behavior: contain;
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  font-family: Charter, Georgia, serif;
  font-size: 1.25rem;
  color: var(--color--text);
  background: var(--color--background);
}

#toc-label {
  top: 0px;
}

#toc:before {
  content: "Table of Contents";
  font-family: Cooper Hewitt, Verdana, sans-serif;
  font-size: 1.2em;
}

#toc {
  width: 25ch;
  font-size: 0.9em;
  overflow-y: scroll;
  opacity: 25%;
}

#toc:hover {
  opacity: 100%;
}

#toc label {
  font-size: 1em;
  display: inline;
}

#toc a {
  text-decoration: none;
}

#toc a:hover {
  opacity: 30%;
}

a:link    { color: var(--color--text--link--unvisited) }
a:visited { color: var(--color--text--link--visited) }

main {max-width: 42rem; margin: auto;}

article {
  padding-top: 0.5em;
}

@supports (hyphens: auto) {
  .model-body {
    text-align: justify;
    hyphens: auto;
  }
}

article::before {
  content: "";
  background-image: var(--image--squared-circle);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 1em 0 0 0;
  opacity: 0.4;
  height: 3rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.links {
	margin-top: 2em;
	font-size: 0.85em;
}

.links::before {
  content: "";
  display: block;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: var(--color--border);
  margin: 0 2px;
}

.link-type { font-weight: bold; }

footer {
  font-size: 0.85em;
  text-align: center;
  padding: 0 1em;
  margin: 4em 0 0 0;
}

footer a {
  text-decoration: none;
}

/*****************/
/* COOPER HEWITT */
/*****************/

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Thin.woff') ;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-ThinItalic.woff') ;
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Light.woff') ;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-LightItalic.woff') ;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Book.woff') ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-BookItalic.woff') ;
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Medium.woff') ;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-MediumItalic.woff') ;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Semibold.woff') ;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-SemiboldItalic.woff') ;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Bold.woff') ;
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-BoldItalic.woff') ;
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Heavy.woff') ;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-HeavyItalic.woff') ;
	font-weight: 900;
	font-style: italic;
}

h1 {
  text-align: center;
  font-family: Cooper Hewitt, Verdana, sans-serif;
  font-size: 2.5em;
  margin: 1em 0 0 0;
}

header {
  text-align: center;
  margin: 0 0 1em 0;
}

header h2 {
  text-align: center;
  font-family: Cooper Hewitt, Verdana, sans-serif;
  margin: inherit;
}

header a {
  text-decoration: none;
}

h2 {
  font-family: Cooper Hewitt, Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

h2 a:link {
  text-decoration: none;
  color: var(--color--text);
  position: relative;
  display: inline-block;
}

h2 a:visited {
  color: inherit;
}

h2 a:hover {
  color: var(--color--text--header--hover);
}

article:target h2 a::before, h2 a:hover::before {
  content: "\00B6";
  position: absolute;
  left: -1em;
  color: var(--color--text--header--hover--pilcrow);
}

h3 {
  font-family: Cooper Hewitt, Verdana, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 1.25em;
  margin: 1.25em 0 0.5em 0;
}

/* Narrow Desktop */

@media only screen and (max-width: 1280px) {
  body {
    grid-template-columns: 16rem auto;
    grid-template-areas: 
      "toc header"
      "toc main"
      "toc footer";
    grid-column-gap: 0;
  }
}

/* Mobile Version */

label, #toc-button {display: none;}

label {
  font-size: 1.5em;
  user-select: none;
}

@media only screen and (max-width: 980px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas: "toc" "header" "main" "footer";
  }

  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  #toc {
    z-index: 1;
    background-color: #fff;
    padding-left: 4em;
  }
  
  #toc-container #toc {
    opacity: 1.0;
  }

    #toc-label,
  #toc-button {
    display: block;
    position: fixed;
    z-index: 2;
  }
  #toc-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  #toc-label {
    width: 1.25em;
    height: 1.25em;
    display: flex;
    justify-content: center;
    line-height: 1.2;
  }
  
  #toc-button:checked ~ #toc-label {
    float: left;
  }
  
  #toc-button:not(:checked) ~ #toc {
    width: 0;
    padding: 0;
  }

}
