@font-face {
  font-family: Charter;
  src: url(../charter_regular.woff);
}

@font-face {
  font-family: Charter;
  src: url(../charter_italic.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Charter;
  src: url(../charter_bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Charter;
  src: url(../charter_bold_italic.woff);
  font-weight: bold;
  font-style: italic;
}

:root {
  color-scheme: light dark;
  --color--text: black;
  --color--background: white;
  --color--text--link--unvisited: blue;
  --color--text--link--visited: purple;

  --color--text--header--hover: #999;
  --color--text--header--hover--pilcrow: #bbb;

  --color--border: #999;

  --image--squared-circle: url(../squared_circle_dark.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color--text: white;
    --color--background: black;
    --color--text--link--unvisited: hsl(221, 100%, 67%);
    --color--text--link--visited: hsl(300, 50%, 55%);
  
    --color--text--header--hover: #999;
    --color--text--header--hover--pilcrow: #bbb;
  
    --color--border: #999;

    --image--squared-circle: url(../squared_circle_light.svg);
  }
}

html {
  font-size: 16px;
}

body {
  width: 60ch;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  font-family: Charter, Georgia, serif;
  font-size: 1.25rem;
  padding: 0.25em 0.25em 3em 0.25em;

  color: var(--color--text);
  background: var(--color--background);
}

body::after {
  content: "";
  background-image: var(--image--squared-circle);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 1em 0 0 0;
  opacity: 0.4;
  height: 3rem;
}

li {
  margin-top: 1em;
}

.what-get li {
  list-style: none;
}

a:link    { color: var(--color--text--link--unvisited) }
a:visited { color: var(--color--text--link--visited) }


@supports (hyphens: auto) {
  .model-body {
    text-align: justify;
    hyphens: auto;
  }
}


.links {
	margin-top: 2em;
	font-size: 0.85em;
}

.links::before {
  content: "";
  display: block;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: dotted;
  border-color: var(--color--border);
  margin: 0 2px;
}

.link-type { font-weight: bold; }

#footer {
  font-size: 0.85em;
  text-align: center;
  padding: 0 1em;
  margin: 4em 0 0 0;
}

#footer a {
  text-decoration: none;
}

/*****************/
/* COOPER HEWITT */
/*****************/

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Thin.woff') ;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-ThinItalic.woff') ;
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Light.woff') ;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-LightItalic.woff') ;
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Book.woff') ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-BookItalic.woff') ;
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Medium.woff') ;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-MediumItalic.woff') ;
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Semibold.woff') ;
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-SemiboldItalic.woff') ;
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Bold.woff') ;
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-BoldItalic.woff') ;
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-Heavy.woff') ;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('../CooperHewitt-HeavyItalic.woff') ;
	font-weight: 900;
	font-style: italic;
}

h1 {
  text-align: center;
  font-family: Cooper Hewitt, Verdana, sans-serif;
  font-size: 2.5em;
  margin: 1em 0 0 0;
}
h1 + p {
  text-align: center;
  margin: 0 0 1em 0;
}

h2 {
  font-family: Cooper Hewitt, Verdana, sans-serif;
  margin: 1.25em 0 0.5em 0;
}

h2 a:link {
  text-decoration: none;
  color: var(--color--text);
  position: relative;
  display: inline-block;
}

h2 a:visited {
  color: inherit;
}

h2 a:hover {
  color: var(--color--text--header--hover);
}

article:target h2 a::before, h2 a:hover::before {
  content: "\00B6";
  position: absolute;
  left: -1em;
  color: var(--color--text--header--hover--pilcrow);
}

h3 {
  font-family: Cooper Hewitt, Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  margin: 1.25em 0 0.5em 0;
}
